@page 
@{
}

<head>
    <script src="~/js/JQuery.js"></script>
    <script src="~/js/List.js"></script>
    <script src="~/js/site.js"></script>
</head>
<h1 class="mb-3">List of players</h1>
<button class="btn" type="submit" value="Sort">Sort</button>

    <table id="playersTable" class="table">
        <thead>
            <tr>
                @*<th>Id</th>*@
                <th>Name</th>
                <th>Email</th>
                <th>Rank</th>
                <th>Salary</th> 
                <th>Phone Number</th>
                <th>Image </th>
                <th>Edit </th>
                <th>Delete</th>
                
            </tr>
        </thead>
        <tbody></tbody>
    </table>



