@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <script src="~/js/JQuery.js"></script>
    <script src="~/js/List.js"></script>
    <script src="~/js/site.js"></script>
</head>
<!-- Recruitment Posters -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://kenyanwallstreet.com/wp-content/uploads/2023/02/Basketball-2.jpeg" alt="Recruitment Poster 1">
                <div class="card-body">
                    <h5 class="card-title">Football</h5>
                    <p class="card-text">Yow</p>
                    <a href="/Players/Add" class="btn btn-primary">Apply Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://kenyanwallstreet.com/wp-content/uploads/2023/02/Basketball-2.jpeg" alt="Recruitment Poster 2">
                <div class="card-body">
                    <h5 class="card-title">Basketball</h5>
                    <p class="card-text">Let's'.</p>
                    <a href="/Players/Add" class="btn btn-primary">Apply Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://kenyanwallstreet.com/wp-content/uploads/2023/02/Basketball-2.jpeg" alt="Recruitment Poster 3">
                <div class="card-body">
                    <h5 class="card-title">Tennis</h5>
                        <p class="card-text">Go.</p>
                        <a href="/Players/Add" class="btn btn-primary">Apply Now</a>
                </div>
            </div>
        </div>
    </div>
</div>