@page
<head>
    <script src="~/js/site.js"></script>
    <script src="~/js/Knockout.js"></script>
    <script src="~/js/jQuery.js"></script>
    <script src="~/js/FootList.js"></script>
</head>

<h1>FootBall Players</h1>

<p>
    <a asp-page="Create" class="btn  btn-primary btn-sm">Create New</a>
    <a id="FootButton" class="btn btn-success btn-sm">Refresh List</a>
    <a href="/index" class="btn btn-danger btn-sm">Back</a>
</p>
<table id="FootBallersTable" class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th>
                Salary
            </th>
            <th>
                Foot
            </th>
            <th>
                Rank
            </th>
            <th>
                Goals
            </th>
            <th>
                Online
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
