@page
<head>
    <script src="~/js/site.js"></script>
    <script src="~/js/Knockout.js"></script>
    <script src="~/js/jQuery.js"></script>
</head>

<h1>FootBall Players</h1>

<p>
    <a asp-page="Create" class="btn  btn-primary btn-sm">Create New</a>
    <a id="FootButton" class="btn btn-success btn-sm">See List</a>
</p>
<table id="FootBallersTable" class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>

            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
