@page

<h1>Edit</h1>

<h4>BasketBall</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="editBasketBallPlayerForm">
            
            <input type="hidden" Id" />
            <div class="form-group">
                <label  class="control-label">Name</label>
                <input type="text" class="form-control" data-bind="value:Name" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Email</label>
                <input type="email" class="form-control" data-bind="value:Email" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Phone</label>
                <input type="tel" class="form-control" data-bind="value:Phone" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Hand</label>
                <select class="custom-select d-block w-100" id="hand" data-bind="value:Hand" required>
                    <option value="">Choose...</option>
                    <option value="Left">Left</option>
                    <option value="Right">Right</option>
                </select>
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Rank</label>
                <select class="custom-select d-block w-100" id="rank" data-bind="value:Rank" required>
                <option value="">Choose...</option>
                    @for (int i = 1; i <= 10; i++)
                    {
                                    <option>@i</option>
                    }
                </select>
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Shots</label>
                <input type="number" class="form-control" data-bind="value:Shots" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Salary</label>
                <input type="number" class="form-control" data-bind="value:Salary"/>
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Url</label>
                <input type="url" class="form-control" data-bind="value:Url"/>
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
